<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница администратора</title>
</head>
<body>
<h3>Личный кабинет администратора</h3>
<form method="post" th:action="@{/logout}">
    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
    <button type="submit">Выйти из личного кабинета</button>
</form>
<a href="/admin/tour/add">Добавление тура</a>
<br>
<a href="/admin/orders">Список заказов</a>
<br>
<br>
<hr>
<br>
<div th:each="product : ${tours}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Туроператор: ' + ${product.getAgency()}"></p>
    <p th:text="'Направление: ' + ${product.getLocation().getName()}"></p>
    <a th:href="@{/admin/tour/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
    <a th:href="@{/admin/tour/delete/{id}(id=${product.getId()})}">Удаление товара</a>
    <br>
    <br>
    <hr>
</div>

<h3>Список заказов: </h3>
<div th:each="element : ${orders}">
    <p th:text="'Id заказа: ' + ${element.getId()}"></p>
    <p th:text="'Номер заказа: ' + ${element.getNumber()}"></p>
    <p th:text="'Наименование тура: ' + ${element.getTour().getTitle()}"></p>
    <p th:text="'Сумма заказа: ' + ${element.getPrice()}"></p>
    <p th:text="'Статус заказа: ' + ${element.getStatus()}"></p>
    <p th:text="'Имя пользователя: ' + ${element.getPerson().getLogin()}"></p>
    <br>
</div>
<hr>
</body>
</html>