<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Информация о туре</title>
</head>
<body>
<h3>Информация о туре</h3>
  <p th:text="'Наименование: ' + ${tour.getTitle()}"></p>
  <p th:text="'Цена: ' + ${tour.getPrice()}"></p>
  <p th:text="'Описание: ' + ${tour.getDescription()}"></p>
  <p th:text="'Туроператор: ' + ${tour.getAgency()}"></p>
  <p th:text="'Направление: ' + ${tour.getLocation().getName()}"></p>
<div th:each="img : ${tour.getImageList()}">
  <img th:src="'/img/' + ${img.getFileName()}" width="300px">
</div>
</body>
</html>