<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Информация о туре</title>
</head>
<body>
<h3>Информация о туре</h3>
<p th:text="'Наименование: ' + ${tour.getTitle()}"></p>
<p th:text="'Цена: ' + ${tour.getPrice()}"></p>
<p th:text="'Описание: ' + ${tour.getDescription()}"></p>
<p th:text="'Туроператор: ' + ${tour.getAgency()}"></p>
<p th:text="'Направление: ' + ${tour.getLocation().getName()}"></p>
<div th:each="img : ${tour.getImageList()}">
  <img width="600px" height="450px" th:src="'/img/' + ${img.getFileName()}">
</div>
<hr>
  <a th:href="@{/basket/add/{id}(id=${tour.getId()})}">Выбрать этот тур</a>
<br>
<a href="/user">Возврат к списку туров</a>
</body>
</html>